html{
        overflow-y:hidden ;
        overflow-x:hidden ;
    }
:root{
    --width:50%;
    --gray:rgb(32, 32, 32);
    --light-gray:rgb(45, 45, 45);
    --highlight:rgb(218, 181, 18);
    --text:rgb(255, 255, 255);
}
body{
    text-align: center;
    background-color:var(--gray);
    color:var(--text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.progress{
    background-color: var(--highlight);
    width: var(--width);
    font-size: 20;
    text-align: center;
    border-radius: 20px;
    color:var(--light-gray);
    font-weight: bold;
}
.border{
    margin-inline: auto;
    background-color: var(--light-gray);
    border: 1px var(--light-gray) solid;
    width: 45%;
    border-radius: 20px;
}
.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 15s linear infinite;
}
.jumper{
    animation: jump 1s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%);}
    100% { transform: translateX(-100%); }
}
@keyframes jump {
    0% { transform: translateY(0%); }
    50% { transform: translateY(10%); }
    100% {transform: translateY(0%);}
}
